@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

// TEXT

$text-font: 'Montserrat', sans-serif;
$fontsize-body: 16px;
$lineheight-body: 160%;
$font-weight-body: 400;
$font-weight-title: 700;
$textcolor: #fff;

// COLORS
$color-body: #333333;
$color-card: #ffffff;