.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 5px 5px 10px;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    align-self: center;
    flex: 1 1 100%;
    max-width: 70%;
    overflow: hidden;
  }

  button:last-child {
    text-align: center;
    max-width: 50px;
    margin-left: 10px;
  }
}

.done {
  font-weight: 700;
  text-decoration: line-through;
}